.profile {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.description {
    padding: 35px;
}

.avatar {
    display: block;
    border-radius: 100%;
    border: 3px dashed grey;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(to right, #8e88c0, #dfdfe5, #7070b1);
}

.name {
    text-align: center;
}

.location,
.tag {
    text-align: center;
    color: rgb(173, 163, 163);
}

.stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.stats li {
    width: calc((100%) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 255, 182);
    padding: 40px 10px;
    border: 2px solid grey;
}
.statsItem {
    font-size: 24px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}